.detail-container {
    padding-bottom: 50px;
    p {
        text-align: left;
    }
}

header {
    .detail-header-container {
        padding: 15px 0 5px 0;
        margin: 0 15px;
        border-bottom: 1px solid #ECECEC;
        .class-title {
            font-size: 1.8rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .class-price {
            margin-top: 15px;
            font-size: 1.2rem;
            color: #EAB726;
        }
        .class-info {
            font-size: 1.2rem;
            line-height: 20px;
            color: #999999;
        }
        .info-bottom {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .info-icon {
            display: inline-block;
            margin-right: 10px;
            width: 14px;
            height: 14px;
        }
    }
}

.class-content-container {
    margin-top: 20px;
    .class-content {
        padding: 10px 30px;
    }
    .section-content {
        text-align: left;
        h1 {
            font-size: 1.4rem;
            color: #666666;
            margin: 5px 0;
        }
        p {
            font-size: 1.4rem;
            color: #666666;
            line-height: 150%;
        }
    }
}

.club-list-container {
    padding: 0 15px;
    .item-container {
        margin-left: 110px;
        padding: 15px 0;
        border-bottom: 1px solid #e5e5e5;
        padding-right: 40px;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .item-left {
        width: 110px;
        margin-left: -110px;
        float: left;
        margin-top: 3px;
        img {
            width: 100%;
        }
    }
    .item-middle {
        float: left;
        width: 100%;
        margin-left: 15px;
        .item-title-container {
            width: 100%;
            margin-bottom: 8px;
            font-size: 1.4rem;
            text-align: left
        }
        .item-info-container {
            text-align: left;
            line-height: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .item-right {
        width: 40px;
        float: left;
        margin-right: -100%;
        margin-top: 25px;
        .right-info-one {
            margin-bottom: 6px;
        }
        .portrait-container {
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end
        }
        img {
            width: 6px;
            height: 10px
        }
    }
}

.evaluate-list-container {
    margin: 15px 15px 15px 30px;
    .evaluate-list-item {
        display: flex;
        margin-top: 20px;
        &:nth-of-type(1) {
            margin: 0;
        }
    }
    .list-left {
        width: 30px;
        margin-right: 14px;
        img {
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }
    }
    .list-right {
        flex: 1;
        text-align: left;
        padding-bottom: 15px;
        border-bottom: 1px solid #f3f3f4;
        color: #999999
    }
    .list-user-name {
        font-size: 1.4rem;
        &::after {
            content: '';
            clear: both;
            display: block;
        }
    }
    .list-reply-time {
        font-size: 1rem
    }
    .reply-info {
        margin-top: 10px;
        font-size: 1.2rem
    }
    .reply-icon-container {
        width: 60px;
        float: right;
        .reply-icon {
            display: inline-block;
            width: 8px;
            height: 8px;
        }
    }
}

.detail-footer-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 50px;
    background: #ffffff;
    border-top: 1px solid #e5e5e5;
    .icon-btn-one {
        padding: 15px 25px;
        img {
            width: 18px;
            height: 20px;
        }
    }
    .icon-btn-two {
        padding: 15px 0;
        padding-right: 40px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .footer-main-btn {
        flex: 1;
        padding: 5px 0;
        background: #2F3044;
        span {
            color: #ffffff;
            display: block;
            text-align: center;
            line-height: 150%;
        }
        .btn-title {
            font-size: 1.7rem
        }
        .btn-info {
            font-size: 1rem
        }
    }
}

.club-list-container {
    &:nth-last-child(1) {
        .class-item-container .item-container {
            border-bottom: none
        }
    }
}