.container {
  background: #ffffff
}
p {
  font-size: 1rem;
  display: block;
  width: 100%;
  margin-top: 8px;
  color: #2F3044;
}
.index-header {
  position: relative;
  .index-header-container {
    padding: 30px 15px;
    background: rgba(47, 48, 68, 0.80);
    position: relative;
  }
  .header-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 15px;
      height: 15px
    }
    span {
      display: inline-block;
      flex: 1;
      text-align: left;
      color: #ffffff;
      font-size: 1.8rem;
      margin-left: 10px;
    }
  }
  .user-info-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .user-top {
    width: 100%;
    margin-left: 14px;
    display: flex;
    border-bottom: 1px #ffffff solid;
  }
  .user-portrait {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    top: 2px;
    right: 14px;
  }

  .number-container {
    padding-top: 6px;
    // display: flex;
    flex: 1;
    // align-items: center;
    // justify-content: center;
    position: relative;
    .number-tag {
    color: #EAB726;
    }
    h1 {
      font-size: 2.2rem;
      font-weight: 500;
      display: inline-block;
      color: #ffffff
    }
    span {
      font-size: .9rem;
      margin-left: 5px;
      color: #ffffff
    }
    p {
      display: block;
      margin-top: 5px;
      font-size: 1rem;
      color: #ffffff;
    }
    .info-point {
      display: block;
      position: absolute;
      top: -3px;
      left: 50%;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #ffffff
    }
  }
  .line-time-container {
    position: relative;
    top: 10px;
  }
  .user-bottom {
    width: 100%;
    margin-left: 14px;
    display: flex;
    .number-container {
      padding-top: 0;
    }
  }
  .name-container {
    width: 40px;
    font-size: 1.3rem;
    color: #ffffff;
    margin-top: 6px;
    position: relative;
    right: 14px;
  }
  .vip-info-container {
    font-size: .9rem;
    padding: 0 4px;
    background: #898BA8;
    color: #ffffff;
    position: absolute;
    bottom: -16px;
    left: -2px;
  }
}

.main {
  .tab-bar-container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
  }
  .tab-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .tab-icon {
      display: block;
      width: 40px;
      height: 40px;
    }
    
  }
}
// .choose-class-container {
//   margin-top: 15px;
// }
.section-title-container {
  .title-container-left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .title-right-index {
    font-size: 1.4rem;
    width: 45px;
    img {
      width: 5px;
      height: 10px;
      margin-left: 5px;
    }
  }
  &::after {
    contetn: '';
    display: block;
    clear: both
  }
}

.have-choose-class {
  background: #f4f4f5
}

.choose-back {
  background: #f4f4f5
}

.channel-tab-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  .tab-item {
    flex: 1;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #eaeaec
  }
  .item-on {
    border-bottom: 1px solid #2F3044
  }
}
.class-time-container {
  font-size: 1.4rem;
  color: #999999;
  padding: 20px;
  padding-bottom: 0;
  text-align: left;
  img {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 15px;
  }
}
.no-class-block {
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 200px;
    height: 134px;
  }
  .block-info {
    font-size: 1.2rem;
    color: #898ba8;
    font-weight: bold;
    position: relative;
    bottom: 30px;
    padding-left: 14px;
  }
}
.class-part-container {
  .class-list-container {
    margin-top: 10px;
  }
}
.choose-class-main-container {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}
.class-section-info-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom:15px;
  left: 15px;
  right: 15px;
  z-index: 10;
  p {
    color: #ffffff; 
      
  }
  .class-section-info-left {
    width: 130px;
    text-align: left
  }
  .class-section-info-right {
    flex:1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}

// .class-section-info-container {
//   display: flex;
//   flex-direction: row;
// }
// .class-list-container {
//     &:nth-last-child(1) {
//       .class-item-container .item-container {
//         border-bottom: none
//       }
//     }
// }

