
.vip-top-container {
    display: flex;
}
.vip-top-title {
    display: inline-block;
    flex:1;
}
.agreement-info-container {
    margin-top: 30px;
    display: flex;
    justify-content: center
}
.sign-info-section {
    margin-top: 10px;
    padding: 0 15px;
    .title-sign-up {
        padding-left: 0;
    }
    .section-info-container {
        text-align: left;
        background: #F4F4F2;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: #666666;
        h1 {
            font-size: 1.5rem;
            color: #333333;
        }
        b {
            color:#EAB726;
        }
        p {
            text-align: left;
        }
        .section-info-inline {
            display: flex;
            flex-direction: row;
        }
        .info-tag {
            float: right;
            display: flex;
            align-items: center;
        }
        .center-info {
            flex: 1;
            text-align: center;
            justify-content: center;
        }
        .info-radio {
            display: inline-block;
            margin-left: 5px;
        }
        
    }
    .info-icon {
        width: 6px;
        height: 10px;
        margin-top: 3px;
    }
}
.header-item-container {
    padding: 15px;
    margin-top: 10px;
    display: flex;
    background: #f4f4f5;
    .item-left {
        margin-right: 15px;
        img {
            width: 100px;
            height: 100%;
        }
    }
    .item-right {
        flex: 1;
        text-align: left;
    }
    .right-title {
        font-size: 1.6rem;
    }
    .right-info {
        margin-top: 5px;
        color: #666666;
        font-size: 1.2rem;
        p {
            text-align: left
        }
    }
    .item-price {
        color: #EAB726;
        float: right;
    }
}
.club-due-container {
    margin-top: 30px;
}